$rem-1: 0.25rem;
$rem-2: 0.5rem;
$rem-3: 0.75rem;
$rem-4: 1rem;

$box-shadow-1: 
0 2px 2px rgba(0, 0, 0, 0.12),
0 2px 2px rgba(0, 0, 0, 0.12),
0 4px 4px rgba(0, 0, 0, 0.12),
0 8px 8px rgba(0, 0, 0, 0.12),
0 16px 16px rgba(0, 0, 0, 0.12);
